.about-us {
  position: relative;
  box-sizing: border-box;
}



#i-knight path:nth-child(even) {
  fill: #ffffff;
}

#i-knight path:nth-child(odd) {
  fill: #000000;
}

#i-knight path:first-child {
  fill: #ffffff;
}

#i-knight path:nth-child(2) {
  fill: #000000;
}

#i-knight path:nth-child(3) {
  fill: #2C39F2;
}
