<doctype html>
html(lang="ru-Ru")
  head 
    meta(charset="UTF-8")
    title rocket
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/style.min.css")
    

  body
    header.page__header.container
      include ../sections/menu
    main.page__main.container
      //- include ../sections/about-us
      //- include ../sections/advantages
    footer.page__footer
    script(src="js/script.js")
