section.about-us
  div.about-us__name
    svg(width="170" height="191")
      use(xlink:href="#i-knight")
    h1.about-us__title Лига А.
      span фронтенд аутсорс
  ul.about-us__lists
    li.about-us__list 297 успешных проектов
    li.about-us__list 2 дня на запуск? это про нас
