section.advantages
  h2.visually-hidden Преимущества
  ul.advantages__lists
    li.advantages__list
      div.advantages__item
        span 01
      p.advantages__text Даём экспертизу и топим<br>  за качество
    li.advantages__list
      div.advantages__item
        span 02
      p.advantages__text Привлекаем джуниоров<br>  для минимизации стоимости
    li.advantages__list
      div.advantages__item
        span 03
      p.advantages__text Гибкость и честность — <br> наше кредо
    li.advantages__list
      div.advantages__item
        span 004
      p.advantages__text Ценим ваши данные, работаем по договору и NDA
    li.advantages__list
      div.advantages__item
        span 005
      p.advantages__text Вы найдёте нас на профильных конференциях как докладчиков или организаторов
    li.advantages__test
      div.advantages__icons
        a(href="#").advantages__icon.advantages__icon-1
          span.visually-hidden вариант-1
        a(href="#").advantages__icon.advantages__icon-2
          span.visually-hidden вариант-2
        a(href="#").advantages__icon.advantages__icon-3
          span.visually-hidden вариант-3
      p.advantages__text Используем для тестов 
