section.menu
  div.menu__block
    a(href="index.html").menu__logo 
      svg(width="104" height="24")
        use(xlink:href="#i-logo")
    input( id="day" type="range" value="0" min="0" max="1").menu__range
    label(for="day").menu__label
      span.visually-hidden Переключатель день-ночь
    span.menu__weather +11°C, 
      span небольшой дождь
    button.menu__open
      span.visually-hidden Открыть меню
  nav.menu__nav.menu__nav--close
    ul.menu__lists
      li.menu__list
        a(href="#").menu__link Верстка
      li.menu__list
        a(href="#").menu__link Контакты
      li.menu__list
        a(href="#").menu__link.menu__link--opacity Фронтенд
      li.menu__list
        a(href="#").menu__link.menu__link--opacity Проекты
      li.menu__list
        a(href="#").menu__link.menu__link--opacity Команда
      li.menu__list
        button(type="button").menu__button Работать  с нами
          
